center {
    color: white;
}

.avatar {
    border-radius: 50%;
    height: 10%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Segoe UI';
}

#footer {
    position: fixed;
    bottom: 0;
    vertical-align: bottom;
    width: auto;
    height: 24px;
    border: none;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: #242424;
    color: #ffffff;
    font-family: 'Segoe UI';
}

name {
    font-size: 20px;
    vertical-align: middle;
}

members {
    font-size: 20px;
    vertical-align: middle;
}

server {
    width: 500px;
    display: inline-block;
    background-color: #a2a2a20f;
    border-radius: 25px;
    padding-top: 20px;
    margin: 5px;
    padding-bottom: 20px;
}

#icon {
    height: 64px;
    border-radius: 50%;
    vertical-align: middle;
}