
#userpanel {
    width: 640px;
    height: 480px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    border: none;
    animation-name: ModalOpen;
    animation-delay: 100ms;
    animation-duration: 500ms;
    background-color: #333;
}


.leaveicon {
    width: 32px;
    vertical-align: middle;
    border-radius: 16px;
}