@using BotCore.DataModel
@using Microsoft.AspNetCore.Mvc.Rendering
@{
ViewData["Title"] = "Leaderboards";
    Bot bot = Logic.GetBotByDomain(Context.Request.Host.Host, true, true);
    Console.WriteLine(ViewData["id"]);
    var server = bot.Servers.First(x=>x.DiscordServerId == (string) ViewData["id"]);
    ViewData["i"] = 0;
}
<script src="/js/modal.js"></script>
<div style="height: 60px;"></div>
<center>
    <img class="avatar" src="/avatar"><br><br>
    <h1>Leaderboards for @server.Name</h1>
    @foreach (var srv in server.DServerUsers.Where(x=>x.XpLevel >= 2).OrderByDescending(x=>x.XpLevel).ThenBy(x=>x.Xp).ToList())
    {
        ViewData["i"]=(int)ViewData["i"] + 1;
        @Html.DisplayFor(x => srv, "UserCard")
    }
</center>