@Model
@using BotCore.DataModel
@using Microsoft.AspNetCore.Mvc.Rendering
@{
ViewData["Title"] = "Leaderboards";
    Bot bot = Logic.GetBotByDomain(Context.Request.Host.Host, true, true);
}
<link href="/static/css/base.css" rel="stylesheet">
<script src="/static/js/home.js"></script>
<div style="height: 60px;"></div>
<center>
    <img class="avatar" src="/avatar"><br><br>
    <h1>Leaderboards for @bot.FriendlyName</h1>
    @foreach (var srv in bot.Servers.Where(x=>x.DServerUsers.Count(y=>y.XpLevel >= 2) > 2).ToList())
    {
        @Html.DisplayFor(x => srv, "Server")
    }
</center>