@using BotCore.DataModel
@{
ViewData["Title"] = "Home Page";
    Bot bot = Logic.GetBotByDomain(Context.Request.Host.Host);
}

<link href="/static/css/base.css" rel="stylesheet">
<script src="/static/js/home.js"></script>
<div style="height: 60px;"></div>
<center>
<img class="avatar" src="/avatar"><br><br>
<h1>@bot.FriendlyName</h1>
<p><i>@bot.OnlineMemberCount</i> of <i>@bot.MemberCount</i> members online in <i>@bot.ServerCount</i> servers</p>
</center>